/*字型大小變數*/
$font-size-10pt: 0.625em;
$font-size-12pt: 0.75em;
$font-size-14pt: 0.875em;
$font-size-16pt: 1em;
$font-size-18pt: 1.125em;
$font-size-20pt: 1.25em;
$font-size-22pt: 1.375em;
$font-size-24pt: 1.5em;
$font-size-25pt: 1.5625em;
$font-size-26pt: 1.625em;
$font-size-28pt: 1.75em;
$font-size-30pt: 1.875em;
$font-size-32pt: 2em;
$font-size-34pt: 2.125em;
$font-size-36pt: 2.25em;
$font-size-40pt: 2.5em;
$font-size-42pt: 2.625em;
$font-size-46pt: 2.875em;
$font-size-48pt: 3em;
$font-size-52pt: 3.25em;
$font-size-56pt: 3.5em;


/*顏色變數*/
$black: #333333;
$mango:#ffa91d;
$dark_mango: #f09f1a;
$faded-red:#d33c47;
$pink:#ee7773;
$dusk-blue:#2854a2;
$green:#67c3b1;
$tealish:#28bfa2;
$gray1:#f1f1f1;
$gray2:#b3b2b2;
$pinkish-grey:#cdcdcd;
$greyish-brown:#4a4a4a;
$warm-grey:#9b9b9b;
$perple: #8f70ab;






$f-1920-18pt: 1.125em;
$f-1920-24pt: 1.5em;
$f-1920-28pt: 1.75em;
$f-1920-48pt: 3em;

$f-1680-18pt: 1em;
$f-1680-24pt: 1.25em;
$f-1680-28pt: 1.5em;
$f-1680-48pt: 2.625em;

$f-1366-18pt: 0.75em;
$f-1366-24pt: 1.125em;
$f-1366-28pt: 1.25em;
$f-1366-48pt: 2em;

$isPC: 'min-width: 769px';
$isPad: 'max-width: 768px';