/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_93f96fa16d50b7acdefb1b57a95f4d53.eot");
  src: url("./fontcustom_93f96fa16d50b7acdefb1b57a95f4d53.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_93f96fa16d50b7acdefb1b57a95f4d53.woff") format("woff"),
       url("./fontcustom_93f96fa16d50b7acdefb1b57a95f4d53.ttf") format("truetype"),
       url("./fontcustom_93f96fa16d50b7acdefb1b57a95f4d53.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_93f96fa16d50b7acdefb1b57a95f4d53.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-angle-double-down:before,
.icon-calendar:before,
.icon-calendar-o:before,
.icon-envelope-o:before,
.icon-graduation-cap:before,
.icon-map-marker:before,
.icon-mobile:before,
.icon-star-o:before,
.icon-user:before,
.icon-users:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-angle-double-down:before { content: "\f100"; }
.icon-calendar:before { content: "\f101"; }
.icon-calendar-o:before { content: "\f108"; }
.icon-envelope-o:before { content: "\f102"; }
.icon-graduation-cap:before { content: "\f109"; }
.icon-map-marker:before { content: "\f103"; }
.icon-mobile:before { content: "\f104"; }
.icon-star-o:before { content: "\f105"; }
.icon-user:before { content: "\f106"; }
.icon-users:before { content: "\f107"; }
