@import "normalize";
@import "common/mixins";

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
}

$deepgray: #989898;

$red: #e55934;
$green: #9bc53d;
$blue: #5bc0eb;
$orange: #fa7921;
$yellow: #FFAB00;

body {
	font-size: 16px;
    letter-spacing: 2px;
    font-family: 'NotoSerif', Arial, sans-serif;
    color: #333;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
	font-weight: bold;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 0.8em 0px;
	color: $deepgray;
}

a {
	display: inline-block;
	max-width: 100%;
	@include ellipsis();
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clearall {
	clear: both;
}

hr {
	border: none;
	border-bottom: 1px solid #e0e0e0;
	margin: 1em 0px;
}

i {
	&:before {
		display: inline-block;
		width: 1.5em;
		text-align: left;
	}
}

ol {
    list-style-type: decimal;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 40px;
}

.container {
	position: relative;
}

#content {
	position: relative;
    max-width: 100%;
    background: #fff;
    margin: 7% auto;
    color: #000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    @include border-radius(2px);
    section {
	    position: relative;
	    padding: 3%;
	    &.red {
	    	h1,
	    	a {
	    		color: $red;
	    	}
	    }
	    &.green {
	    	h1,
	    	a {
	    		color: $green;
	    	}
	    }
	    &.blue {
	    	h1,
	    	a {
	    		color: $blue;
	    	}
	    }
	    &.yellow {
	    	h1,
	    	a {
	    		color: $yellow;
	    	}
	    }
    }
    .personal {
    	&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($red, $green);
    	}
    	ul {
    		list-style: none;
		    -webkit-padding-start: 0px;
    		li {
    			width: 50%;
    			display: inline-block;
			    line-height: 2em;
			    margin-bottom: 1em;
		        vertical-align: middle;
    		}

    	}
    }
    .company {
    	&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($green, $blue);
    	}
    	font-size: 1em;
    	line-height: 2em;
    	margin-bottom: 5em;
    	> ul {
    		list-style: none;
		    -webkit-padding-start: 0px;
			margin-bottom: 1em;
    	}
    	.logo {
    		img {
    			max-width: 220px;
    			width: 100%;
    		}
    	}
    	&:last-child {
    		margin-bottom: 2em;
    	}
    }
	
	.skills {
		&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($blue, $yellow);
    	}
		.skill-type {
			vertical-align: top;
			display: inline-block;
			width: 40%;
			margin-right: 10%;
			margin-bottom: 1em;
			ul {
				list-style: none;
			    -webkit-padding-start: 0px;
				background-color: #f7f8f8;
				padding: 1em;
				border-left: 5px solid #d4d4d4;
				margin-bottom: 1em;
				li {
					margin-left: 1em;
					line-height: 1.5em;
				}
			}
			
		}
	}
	.works {
		&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($yellow, $yellow);
    	}
    	ul {
    		list-style: none;
		    -webkit-padding-start: 0px;
    		li {
    			line-height: 2em;
			    margin-bottom: 1em;
			    .gray {
			    	color: $deepgray;
			    }
    		}
    	}
	}
}

.envelope,
.photo-frame {
	display: none;
}