@import "normalize";
@import "common/mixins";

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
}

$deepgray: #989898;

$red: #e55934;
$green: #9bc53d;
$blue: #5bc0eb;
$orange: #fa7921;
$yellow: #FFAB00;

body {
	font-size: 16px;
    letter-spacing: 2px;
    font-family: 'NotoSerif', Arial, sans-serif;
    color: #333;
    @include bp-medium {
    	& {
    		font-size: 12px;
    	}
    }
}

h1 {
	font-size: 1.8em;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
	font-weight: bold;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 0.8em 0px;
	color: $deepgray;
}

a {
	display: inline-block;
	max-width: 100%;
	@include ellipsis();
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clearall {
	clear: both;
}

hr {
	border: none;
	border-bottom: 1px solid #e0e0e0;
	margin: 1em 0px;
}

i {
	&:before {
		display: inline-block;
		width: 1.5em;
		text-align: left;
	}
}

ol {
    list-style-type: decimal;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 40px;
}

@import "scrollr";
@import "envelope";

.container {
	position: relative;
	margin-top: 3500px;
    padding: 0px 5%;
    @include bp-medium {
    	& {
    		margin-top: 0px;
    	}
    }
}

#content {
	position: relative;
    max-width: 1100px;
    background: #fff;
    margin: 7% auto;
    color: #000;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    @include border-radius(2px);
    @include bp-medium {
    	& {
    		margin-bottom: 20%;
    	}
    }
    section {
	    position: relative;
	    padding: 3% 15%;
	    &:last-child {
	    	padding-bottom: 10%;
	    }
	    &.red {
	    	h1,
	    	a {
	    		color: $red;
	    	}
	    }
	    &.green {
	    	h1,
	    	a {
	    		color: $green;
	    	}
	    }
	    &.blue {
	    	h1,
	    	a {
	    		color: $blue;
	    	}
	    }
	    &.yellow {
	    	h1,
	    	a {
	    		color: $yellow;
	    	}
	    }
    }
    .personal {
    	padding-top: 10%;
    	&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($red, $green);
    	}
    	ul {
    		list-style: none;
		    -webkit-padding-start: 0px;
    		li {
    			width: 50%;
    			display: inline-block;
			    line-height: 2em;
			    margin-bottom: 1em;
		        vertical-align: middle;
		        @include bp-medium {
		        	& {
		        		width: 100%;
		        	}
		        }
    		}

    	}
    }
    .company {
    	&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($green, $blue);
    	}
    	font-size: 1em;
    	line-height: 2em;
    	margin-bottom: 5em;
    	> ul {
    		list-style: none;
		    -webkit-padding-start: 0px;
			margin-bottom: 1em;
    	}
    	.logo {
    		img {
    			max-width: 220px;
    			width: 100%;
    		}
    		@include bp-medium {
	    		& {
	    			float: none;
	    		}
	    	}
    	}
    	&:last-child {
    		margin-bottom: 2em;
    	}
    }
	
	.skills {
		&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($blue, $yellow);
    	}
		.skill-type {
			vertical-align: top;
			display: inline-block;
			width: 40%;
			margin-right: 10%;
			margin-bottom: 1em;
			@include bp-medium {
	    		& {
	    			width: 100%;
	    			margin: 0px;
	    		}
	    	}
			ul {
				list-style: none;
			    -webkit-padding-start: 0px;
				background-color: #f7f8f8;
				padding: 1em;
				border-left: 5px solid #d4d4d4;
				margin-bottom: 1em;
				li {
					margin-left: 1em;
					line-height: 1.5em;
				}
			}
			
		}
	}
	.works {
		&:before {
    		content: "";
    		position: absolute;
    		width: 8px;
    		top: 0px;
    		left: 0px;
    		height: 100%;
    		@include linear-gradient($yellow, $yellow);
    	}
    	ul {
    		list-style: none;
		    -webkit-padding-start: 0px;
    		li {
    			line-height: 2em;
			    margin-bottom: 1em;
			    .gray {
			    	color: $deepgray;
			    }
    		}
    	}
	}
}

.photo-frame {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 90%;
    padding: 0px 5%;
    z-index: 99;
    @include opacity(0);
    .photo-div {
	    position: relative;
	    text-align: right;
	    max-width: 1100px;
	    margin: 7% auto;
		.photo {
			position: relative;
		    display: inline-block;
		    margin-right: -4em;
		    width: 8em;
		    height: auto;
			img {
				cursor: pointer;
				width: 100%;
				@include border-radius(50%);
				@include opacity(0.8);
				box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
		    	@include transition(transform 0.2s ease-out);
				&:hover {
					@include opacity(1);
				}
			}
			.photo-click {
			    -webkit-padding-start: 0px;
			    list-style: none;
			    margin: 0;
			    padding: 0;
			    display: inline-block;
			    position: absolute;
			    top: 2em;
			    left: 2em;
			    text-align: center;
			    letter-spacing: 0px;
			    pointer-events: none;
				&:before {
					@include vertical-align-middle();
				}
				li {
				    position: absolute;
				    top: 0px;
				    left: 0px;
				    display: inline-block;
				    list-style: none;
				    margin: 0;
				    padding: 0;
				    width: 4em;
				    height: 4em;
				    color: #FFF;
				    cursor: pointer;
					@include opacity(0);
					@include border-radius(50%);
					-webkit-transition: -webkit-transform 0.3s, opacity 0.1s;
					transition: transform 0.3s, opacity 0.1s;
					a {
						color: #FFF;
						i {
							position: relative;
						    font-size: 2em;
						    line-height: 2em;
						    text-align: center;
						    text-shadow: 0px 0px #005983, 50px 51px #005983;
						    &:before {
						    	width: auto;
						    }
						}
					}
					&:first-child {
						background-color: $yellow;
					}
					&:nth-child(2) {
						background-color: $blue;
					}
					&:nth-child(3) {
						background-color: $green;
					}
					&:nth-child(4) {
						background-color: $red;
					}
				}
				@include bp-medium {
					& {
						display: none;
					}
				}
			}
			&.active {
				.photo-click {
					li:first-child {
						@include opacity(1);
						@include transform(scale3d(1, 1, 1) translate3d(0, -200%, 0));
						pointer-events: all;
					}
					li:nth-child(2) {
						@include opacity(1);
						@include transform(scale3d(1, 1, 1) translate3d(0, -350%, 0));
						pointer-events: all;
					}
					li:nth-child(3) {
						@include opacity(1);
						@include transform(scale3d(1, 1, 1) translate3d(0, -500%, 0));
						pointer-events: all;
					}
					li:nth-child(4) {
						@include opacity(1);
						@include transform(scale3d(1, 1, 1) translate3d(0, -650%, 0));
						pointer-events: all;
					}
				}
				img {
					@include opacity(1);
					@include transform(scale3d(0.8, 0.8, 1));
				}
				
			}
		}
    }
}

@include bp-medium {
	.photo-frame {
	    position: absolute;
	    right: 2em;
	    top: 2em;
	    bottom: initial;
	    .photo-div {
	    	margin: 0px;
	    	.photo {
	    		margin: 0px;
	    		img {
					box-shadow: none;
				}
	    	}
	    }
	}
}
